{% if include.lookup %}
  {% assign member = site.members | where_exp: "m", "m.slug == include.lookup" | first %}
{% else %}
  {% assign member = include %}
{% endif %}

{% assign type = site.data.types[member.role] %}
<div class="portrait-wrapper">
  <a
    href="{{ member.external_url | default: member.url | relative_url }}"
    class="portrait"
    data-style="{{ include.style }}"
    aria-label="{{ member.name | default: 'member link' | regex_strip }}"
    {% if member.external_url %}
      target="_blank" rel="noopener"
    {% endif %}
  >
    {% if type %}
      {% include icon.html icon=type.icon %}
    {% endif %}

    <img
      src="{{ member.image | relative_url | uri_escape }}"
      class="portrait-image"
      alt="member portrait"
      loading="lazy"
      {% include fallback.html %}
    >

    {% if member.name %}
      <span class="portrait-name">{{ member.name }}</span>
    {% endif %}

    {% if member.description or type %}
      <span class="portrait-description">
        {{ member.description | default: type.description }}
      </span>
    {% endif %}

    {% if member.affiliation %}
      <span class="portrait-affiliation">{{ member.affiliation }}</span>
    {% endif %}
  </a>
</div>
